@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: aqua;
}

.nav-container {

    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;


}

.logo-container {
    display: flex;
    width: 50%;
}

.logo-container img {

    width: 70px;
    margin-right: 20px;
    object-fit: cover;
    background-color: aqua;
    mix-blend-mode: multiply;

}

.logo-container p {
    font-size: 30px;
}

.Care-section {
    color: palevioletred;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items-container a {

    text-decoration: none;
    font-size: 25px;
    color: white;
}

.nav-items-container .login-btn {
    background-color: palevioletred;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;

}

/* navbar section end here--->*/

.banner-container {

    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    display: flex;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 20px;
}

.banner-text {

    width: 50%;
    text-align: center;
    margin-top: 150px;


}

.banner-img {

    width: 50%;

}

.banner-img img {

    width: 100%;
    /* Make the image width 100% to fit within the container */
    height: 100%
        /* Allow the height to adjust proportionally */

}

.banner-text h1 {
    background-image: linear-gradient(to bottom, palevioletred, aqua);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
}

.banner-text p {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;



}

.icone-container {
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto 50px;
}

.fa-brands {
    font-size: 50px;
}

.banner-button {
    background-color: transparent;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 10px;
}


/*banner section end here*/

.grid-container {
    display: grid;

    max-width: 1400px;
    margin: 50px auto 0;
    min-height: 400px;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.single-product {


    background-color: lightgreen;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 3px 3px 6px black;
}

.single-product img {
    width: 70%;
    display: block;
    margin: 10px auto 0;
}

.product-icon-name-container {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.product-icon {
    font-size: 20px;
}

.product-icon-name-container span {
    padding: 5px;
    background-color: burlywood;
    border-radius: 50%;
    color: black;
}

/*banner section end here*/
.discount-section {
    
    background-color: lightgreen
}

.discount-container {
    max-width: 1400px;
    margin: 60px auto 0;

    min-height: 200px;
    display: flex;
    align-items: center;
}

.discount-img {

    width: 50%;
     position: relative;


}

.discount-text {
    width: 50%;
}
/*
image fixing*/
.discount-img img {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: lightgreen;
    mix-blend-mode: multiply;
}
.discount-number{
    background-color: aqua;
    height: 80px;
    width: 80px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9%;
    left: 70%;

}
/*discount section end here*/
.review-section{

    border: 1px solid rebeccapurple;
   
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.single-review{
    border: 1px solid blue;
    flex-basis: 300px;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 10px;

}
.single-review img{
    width: 60px;
    height: 60px;
}
.top-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
}